---
import { Image } from "astro:assets";
import ImfFondo from "../../assets/portada.webp"
import ImgLogo from "../../assets/lambda.png"
---
<section class="w-full h-[85vh] flex" id="inicio" >
    <aside class="w-full h-full bg-black/10 text-center flex flex-col justify-center items-center gap-8 md:w-1/2 md:bg-transparent" >
        <Image src={ImgLogo} alt="Logotipo de Lambda" class="w-20 h-20 object-cover"/>
        <h2 class="text-5xl font-bold" >Lambda labs</h2>
        <p>Solucionando dudas y brindando ayuda </p>
    </aside>
    <figure class="hidden w-3/4 h-full relative bg-gradient-to-l from-transparent to-white md:flex " >
        <Image src={ImfFondo} alt="Imagen de fondo" class="w-full h-full object-cover absolute -z-20" />
    </figure>
</section>