---
import ItemIntegrant from "../ItemIntegrant.astro"
---
<section class="w-full min-h-screen bg-white grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 justify-items-center items-center" id="integrantes">
    <ItemIntegrant name="Arias Hernández José Manuel" />
    <ItemIntegrant name="Carrillo Ramirez Rogelio" />
    <ItemIntegrant name="Simon Tadeo Abel" />
    <ItemIntegrant name="Santa maria Horcasitas Abigail" />
    <ItemIntegrant name="Victor" />
    <ItemIntegrant name="naiksja" />
</section>