<section class="w-full min-h-screen" >
    <h2>Resolución</h2>
    <p>
        La resolución es un método de inferencia lógica que se utiliza para deducir conclusiones a partir de 
        un conjunto de proposiciones, transformadas en cláusulas. La técnica principal en resolución es la 
        refutación por contradicción (o reducción al absurdo), en la cual se intenta probar que una 
        proposición es verdadera demostrando que su negación lleva a una contradicción.
    </p>
</section>