---
import Layout from '../layouts/Layout.astro';
import Home from '../components/sections/Home.astro';
import Integrantes from '../components/sections/Integrantes.astro';
import Unificacion from '../components/sections/Unificacion.astro';
import Resolucion from '../components/sections/Resolucion.astro';
---
<Layout title="Unificación y resolución">
	<main class="w-full min-h-[85vh]" >
		<Home />
		<Integrantes />
		<Unificacion />
		<Resolucion />
	</main>
</Layout>