---
import { Image } from 'astro:assets';
import ResolucionImage from '../assets/resolucion.webp';
import LayoutPost from '../layouts/LayoutPost.astro';
---
<LayoutPost title="Resolución en Lógica">
    <Image src={ResolucionImage} alt="Ilustración de resolución lógica" class="h-[30vh] w-auto object-cover" slot="ImgHeader" />
    <div class="w-3/4 mx-auto pb-16">
        <h1 class="text-4xl font-bold text-center py-4">Resolución en Lógica</h1>
        <p class="text-xl my-4">
            La resolución es un método de inferencia lógica que deduce conclusiones a partir de un conjunto de proposiciones transformadas en cláusulas. Su técnica principal es la refutación por contradicción, donde se demuestra que la negación de una proposición lleva a una contradicción, confirmando su veracidad.
        </p>
        <h2 class="text-2xl font-semibold mt-6">Proceso de Resolución en Lógica Proposicional</h2>
        <ul class="list-disc pl-5">
            <li class="py-2">
                <strong>Reducción al Absurdo:</strong> Consiste en transformar una proposición en una contradicción. Al añadir la negación de la proposición y llegar a una contradicción, se concluye que la proposición original es verdadera.
            </li>
            <li class="py-2">
                <strong>Método de Resolución Binaria:</strong> Se seleccionan dos cláusulas con literales opuestos, formando una nueva cláusula resolvente. Este proceso se repite hasta obtener una contradicción o resolver todas las combinaciones posibles.
            </li>
        </ul>
        <h2 class="text-2xl font-semibold mt-6">Ejemplo Simple</h2>
        <p class="text-xl my-4">
            Si se sabe que se cumple "P ó Q" y "no P ó R", entonces se puede deducir que se cumple "Q ó R". Este proceso demuestra cómo la lógica proposicional lleva a conclusiones mediante resolución binaria.
        </p>
    </div>
</LayoutPost>
