---
import { Image } from 'astro:assets';
import ImgageEjemploUnificacion from '../assets/unificacion-general.avif'
import Unificacion from '../assets/unificacion.png'
import LayoutPost from '../layouts/LayoutPost.astro';
---
<LayoutPost title="Unificación">
        <Image src={ImgageEjemploUnificacion} alt="Imagen de ejemplo de unificacion" class="h-[30vh] w-auto object-cover" slot="ImgHeader" />
        <div class="w-3/4 mx-auto pb-16" >
            <h1 class="text-4xl font-bold text-center py-4" >Unificación</h1>
            <p class="text-xl my-4">
                La unificación es un procedimiento clave en la lógica de primer orden, usado para emparejar términos y resolver conflictos lógicos en la representación de conocimiento. Es fundamental para sistemas de inferencia y lenguajes de programación lógica como Prolog.
            </p>
            <p class="text-xl my-4">
                La unificación también puede verse como una búsqueda en un espacio conocido como rejilla de generalización, donde se introducen Rejilla de dos términos especiales llamados generalización top (>) y bottom (⊥). En este contexto, la unificación consiste en encontrar la junta más inferior de dos términos en el gráfico.
            </p>
            <figure class="flex justify-center items-center h-[40vh] w-full" >
                <Image src={Unificacion} alt="Imagen representativa de unificacion" />
            </figure>
            <p class="text-xl my-4">
                Rejilla de Generalización: En el contexto de la unificación, la "rejilla de generalización" proporciona un espacio abstracto en el que se identifican dos términos especiales, "top" (>) y "bottom" (⊥), que representan los puntos de mayor y menor generalización. Esta rejilla se usa en aprendizaje automático y procesamiento de conocimiento para identificar el "punto de intersección" más bajo o específico en el que dos términos pueden unificarse, evitando conflictos.
            </p>
            <ul class="list-disc pl-5" >
                <li class="py-2" >
                    Objetivo: La unificación intenta hacer coincidir dos literales mediante una serie de sustituciones, transformando las variables de un literal para que se alineen con las de otro.
                </li>
                <li class="py-2" >
                    Proceso: Este procedimiento compara los elementos de dos literales (predicados y argumentos) de izquierda a derecha:
                </li>
                <li class="py-2" >
                    Condición de éxito: Para que dos literales sean unificables, deben tener el mismo número de argumentos y cumplir con las reglas de sustitución.
                </li>
                <li class="py-2" >
                    Correspondencia de Predicados: Es crucial que los predicados de los términos sean idénticos. Si no coinciden, los literales no pueden unificarse.
                </li>
                <li class="py-2" >
                    Igualdad de Aridad: Los términos deben tener el mismo número de argumentos, y cada uno debe satisfacer las reglas de sustitución de manera consistente.
                </li>
            </ul>
        </div>
</LayoutPost>