---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro'

interface Props {
	title: string;
}

const { title } = Astro.props;
---
<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Somos el equipo Lambda labs que proporciona soluciones y ayuda en temas de programación e ingenieria." />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/lambda.jpg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Header />
		<slot />
		<Footer />
	</body>
</html>